header {
    width: 100%;
    height: 5rem;
    position: fixed;
    z-index: 11;
}

/* =========== header--navbar--start ========================= */

.list-tele-mail img {
    width: 20px;
}

.header-firsts {
    display: flex;
}

.header-first-container ul li a {
    font-size: 15px;
    color: #014587;
    text-decoration: none;
    transition: 0.5s;
}

.header-first-container ul li a:hover {
    text-decoration: underline #7432FF;
}

.ul-container .cntct-img:hover {
    width: 85%;
}

.header-first-container-second ul li a img {
    transition-duration: 0.3s;
    transition-property: transform;
}

.header-first-container-second ul li a img:hover,
.header-first-container-second ul li a img:focus,
.header-first-container-second ul li a img:active {
    transform: scale(1.2);
}

.nav-content {
    border-top: 1px solid #99BFDA;
    display: flex;
}

.nav-content .nav-main-content {
    padding: 5px 15px;
    font-size: 15px;
    transition: 0.5s;
    border: none;
    font-weight: 600;
    background: none;
}

.nav-content .nav-main-content {
    color: #014587;
    transition-duration: 0.3s;
    transition-property: transform;
}

.top-header nav ul li .nav-main-content:hover,
.top-header nav ul li .nav-main-content:focus {
    transform: scale(1.2);
}

.top-header nav ul li .nav-main-content:focus,
.top-header nav ul li .nav-main-content:active {
    text-decoration: underline #7432FF;
    color: #7432FF;
}

.nav-content #toggle1 {
    margin-left: 20px;
}

.main-nav {
    padding-left: 10px;
    display: block;
    height: auto;
}

.logo-section {
    left: 57%;
    width: 25%;
    top: 2%;
    transform: translateX(-50%);
}

.logo-section .logo-image {
    width: 40%;
}

#toggle1 {
    display: none;
    padding: 0;
    margin-right: 0;
    align-self: center;
    width: 0;
}

/* =============== media query(780px) ============ */

@media only screen and (max-width:700px) {
    .window-scroll {
        height: 90px;
      }
    .logo-section .logo-image {
        width: 46%;
    }

    .logo-section {
        display: block;
        position: absolute;
        left: 30%;
        width: 50%;
        transform: translateX(-50%);
    }

    .header-first-container ul li a {
        padding: 0px 8px;
        font-size: 8px;
    }

    .header-firsts,
    .header-first-container-second,
    .navigation {
        display: none;
    }

    .nav-content {
        border-top: 0;
        flex-direction: column;
    }
/* 
    #toggle {
        display: block;
        padding-top: 6%;
      
        float: right;
    } */
    .toggle {
        padding-top: 7%;
        padding-left: 88%;
      }
    
      #toggle1 {
        display: block;
        width: 150%;
      }
    .toggle li {
        color: #014587;
    }

    #mobile-active .main-nav {
        top: 35px;
        left: 0;
        position: relative;
        background-color: #EFF3F5;
        display: none;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #mobile-active .main-nav li {
        margin: 2% 0;
        display: flex;
        flex-direction: column;
    }

    #mobile-active .main-nav li a {
        font-size: 18px;
        display: block;
    }
}

/* =========== media query(500px) ================ */
@media only screen and (max-width: 500px) {
    .window-scroll {
      height: 70px;
    }
    .logo-section {
        left: 36%;
    }

    .logo-section .logo-image {
        width: 46%;
    }
    .toggle {
        padding-top: 10%;
        padding-left: 84%;
      }
    
      #toggle1 {
        width: 150%;
      }
    /* .toggle {
        padding-top: 10%;
        padding-left: 84%;
    } */
}


/* ================= navbar--end  ========================= */

/* window scroll */

.window-scroll {
    /* background: #36454f; */
    background-image: linear-gradient(90deg,#e3e5e8 100%, #6FA4CA -50%);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

