body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.floating-logo{
    z-index: 1;
    animation: floating 3s ease-in-out infinite;
}
.position-set1{
    right: 22%;
}
.position-set2{
    right: 15%;
}
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}
/*=========== home-heading =======*/
.home-heading {
    margin: 8vh;
    text-align: center;
}

.home-heading>h6 {
    color: grey;
}

.home-heading h2 {
    font-weight: 800;
}

/* ====== home-heading-end ========= */

.home_heading {
    font-weight: 400;
    font-size: 70px;
    line-height: 75px;
    color: #003B7D;
}

.home-para {
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #003B7D;
}

.banner-main-image img {
    width: 70%;
}

.banner-main-image>video {
    width: 100%;
}

.home .home-banner-1,
.home .home-banner-2 {
    display: flex;
    align-items: center;
    /* height: 700px; */
    height: 100vh;
}

.home .home-banner-1 {

    /* background: linear-gradient(180deg, #003b7d1c 0%, #96C5FD 100%); */

}

.home .home-banner-2 {
    /* background: linear-gradient(180deg, #003b7d1c 0%, #96C5FD 100%); */

}
.home .home-banner .home-banner-text h1 {
    font-size: 5rem;
}

.home .carousel-indiactors [data-bs-target] {
    background-color: #2f2f2f;
    width: 2.5rem;
    height: 0.313rem;
}

.home .carousel-control-next-icon,
.home .carousel-control-prev-icon {
    background: transparent;
}

.home .slider-icon {
    font-size: 3rem;
    font-weight: 600;
    color: #2f2f2f;
}

.carousel-inner .carousel-item {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

.btn-home-main {
    background-color: #0060aa;
    border: none;
    color: white;
    /* font-size: 14px; */
    border-radius: 4px;
}

.btn-home-main:hover {
    color: black;
    background-color: #fff;
    border: 2px solid #0060aa;
}


@media only screen and (max-width:800px) {
    .banner-main-image>video {
        width: 70%;
    }

    .banner-main-image img {
        width: 50%;
    }

    .home-para {
        font-size: 17px;
        line-height: 30px;
    }

    .home_heading {
        font-size: 46px;
        line-height: 44px;
    }
}

/* ========home-main-section-end ========== */
/* =========feature start============ */

.heading-box-cards {
    width: 315px;
    height: 80px;
    position: relative;
    top: -10px;
    background: #003B7D;
    border-radius: 5px;
}

.heading-box-cards h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 2%;
}

.row-whychoose-us-ui-ux {
    justify-content: space-around;
    margin-bottom: 5%;
}

.column-whychoose-us-ui-ux {
    box-sizing: border-box;
    border-radius: 50% 50%;
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 15%);
    justify-content: center;
    display: flex;
}

.column-whychoose-us-ui-ux-two {
    height: 281px;
    box-sizing: border-box;
    border-radius: 50% 50%;
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 15%);
    justify-content: center;
    display: flex;
    position: relative;
    top: -60px;
}

.whychoose-us-ui-ux-three-circle-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.whychoose-us-ui-ux-three-circle-cards-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.whychoose-us-ui-ux-three-circle-cards p {
    font-weight: 600;
    margin: 0 13%;
    padding-bottom: 15%;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
    margin-top: 0%;
}

.whychoose-us-ui-ux-three-circle-cards-two p {
    font-weight: 600;
    margin: 0 13%;
    padding-bottom: 15%;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
    margin-top: 0%;
}

.online-marketing-page {
    height: 269px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 35px;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    padding: 0 3%;
}

.online-marketing-page h4 {
    color: #003B7D;
    font-weight: 600;
}

@media only screen and (max-width:700px) {
    .column-whychoose-us-ui-ux-two {
        top: 0;
    }

    .row-whychoose-us-ui-ux {
        gap: 30px;
    }
}

/* ==========feature end========== */
/* ============about us section============== */
#about {
    /* background: linear-gradient(180deg, #003b7d1c 0%, rgba(0, 59, 125, 0) 100%); */
    /* background: linear-gradient(180deg, #003b7d1f 0%, #96c5fd33 100%); */
}

.section-desc>h2 {
    margin-bottom: 3%;
    font-weight: 700;
}

.section-desc>h6 {
    color: grey;
}

.about-us-webm {
    position: relative;
}

.about-us-webm>video {
    width: 100%;
    padding-right: 5%;
}

/* ==========about us end */
/* =========services start============ */
/* .main-service-image {
    width: 100%;
}

.services-content {
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
    border-radius: 32px 13px 28px 0px;
    padding: 3%;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-property: transform;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from {
        transform: translate(0, 0px);
    }

    65% {
        transform: translate(0, 15px);
    }

    to {
        transform: translate(0, -0px);
    }
}

.services-content:hover,
.services-content:focus,
.services-content:active {
    transform: scale(1.1);
}


.services-content h6 {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    color: #003B7D;
}

.services-title {
    gap: 80px;
} */

/* okr */
.box_homeServi,
.box_homeServi1,
.box_homeServi2 {
    border-radius: 10px;
    height: 200px;
}

.box_homeServi {
    border: 2px solid #003B7D;
}

.box_homeServi1 {
    border: 2px solid #0E93D4;
}

.box_homeServi2 {
    border: 2px solid #7432FF;
}

/*  */
.box_homeServi:hover {
    background-color: #003B7D;
}

.box_homeServi1:hover {
    background-color: #0E93D4;
}

.box_homeServi2:hover {
    background-color: #7432FF;
}

.box_homeServi:hover,
.box_homeServi1:hover,
.box_homeServi2:hover {
    transition: all 1s;
    -webkit-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
    color: white;
}

/*  */
/*=================== founders=============== */
.our-founders-section {
    /* background: linear-gradient(180deg, #003b7d1c 0%, rgba(0, 59, 125, 0) 100%); */
    /* background: linear-gradient(180deg, #003b7d1f 0%, #96c5fd33 100%); */
}

.our-founders {
    padding: 13px 0 25px;
    background: #f9f9f9;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-bottom: 5px solid #0060aa;
}

.our-founders:hover {
    border-bottom: 5px solid #2f2f2f;
}

.our-founders .pic {
    display: inline-block;
    width: 38%;
    height: 130px;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
}

.our-founders .pic:before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #0060aa;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 1;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.our-founders:hover .pic:before {
    height: 100%;
    background: #2f2f2f;
}

.our-founders .pic:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffffff00;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s linear 0s;
}

.our-founders:hover .pic:after {
    background: #7ab92d;
}

.our-founders .pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
    position: relative;
    z-index: 2;
}

.our-founders:hover .pic img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}

.our-founders .founders-content {
    margin-bottom: 30px;
}

.our-founders .title {
    font-size: 22px;
    font-weight: 700;
    color: #4e5052;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.our-founders .post {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
}

.our-founders .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #2f2f2f;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}

.our-founders:hover .social {
    bottom: 0;
}

.our-founders .social li {
    display: inline-block;
}

.our-founders .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: #fff;
    transition: all 0.3s ease 0s;
}

.our-founders .social li a:hover {
    color: #2f2f2f;
    background: #f7f5ec;
}

@media only screen and (max-width: 990px) {
    .our-founders {
        margin-bottom: 30px;
    }
}

/* ==================get in touch=============================== */
/* .get-webm {
    z-index: -2;
}

.get-webm>video {
    width: 75%;
    margin: 0 0 0 10%
} */

/* .ready-to-boom {
    padding: 16% 0 9% 0;
} */
.ready-to-boom {
    padding: 5%;
}

.get-in-touch-button {
    background-color: #0060aa;
    border: none;
    color: white;
    padding: 2%;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0 10% 0 0;
    cursor: pointer;
    border-radius: 12px;
}

.get-in-touch-button:hover {
    color: black;
    background-color: #fff;
    border: 2px solid black;
}


@media only screen and (max-width: 990px) {
    .video-get-in-touch {
        flex-direction: column;
    }
}